<ion-content class="seevotes-content" padding>

  <ion-row class="top-row">
    <ion-col>
      <button ion-button class="home-btn" (click)="moveToHome()">Précédent</button>
    </ion-col>
    <ion-col></ion-col><ion-col></ion-col>
  </ion-row>

  <ion-row >
      <ion-col>
        <div class="title">
          <h1>Résultat des votes</h1>
        </div>
      </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
        <h3>Votes que j'ai crée <ion-icon name="ios-arrow-down"></ion-icon></h3>
    </ion-col>
  </ion-row>

  <ion-list *ngFor="let vote of voteListCreatedData" id="votelist">
     <ion-item (click)="moveToMyCreatedVote(vote[0])">
       <ion-icon name="vote" ></ion-icon>{{vote[1]}}
     </ion-item>
   </ion-list>

  <ion-row>
    <ion-col>
        <h3>Votes où j'ai été invité <ion-icon name="ios-arrow-down"></ion-icon></h3>
    </ion-col>
  </ion-row>

  <ion-list *ngFor="let vote of voteListInvitedData" id="votelist">
     <ion-item (click)="moveToMyInvitedVote(vote[0])">
       <ion-icon name="vote" ></ion-icon>{{vote[1]}}
     </ion-item>
   </ion-list>

</ion-content>
