page-login {

  .login-content {
    background-image:url(../assets/img/login-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }


  .logo-container{
    text-align: center;
  }


}
