page-login {


  /*background*/
  .login-content {
    background-image:url(../assets/img/login-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  /*logo*/
  .logo-container{
    text-align: center;
  }

  /*formulaires et boutons*/
  .button-md:hover{
    background-color: #387ef5;
  }
  .text-input{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    color: #ffffff;
  }
  .item-md{
    background: transparent;
    border-bottom: 2px solid #ffffff!important;
  }
  .button-inner{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
  }
  .button-md{
    background: transparent;
    border: 2px solid #ffffff;
    color:#ffffff;
  }




  /*placement*/
  #login-buttons{
    margin-top:60px;
  }
  #login-entries{
    margin-top:40px;
  }





}
