
<div class="page-header">
  <div class="btn-toolbar pull-right">
    <button id="btn_open_modal" type="button" class="btn btn-default" (click)="upload_image.show()">Ajout d'images</button>
  </div>
  <h3 id="page_title">Images</h3>
</div>

<section class="images">
  <div *ngFor="let imgAF of images | async" class="image_main">

    <div class="image_container panel panel-default">
      <div class="panel-body background_cover" [style.background-image]="sanitizeUrlImage(imgAF.URL)"><div class="fake_elem"></div></div>
      <div class="panel-footer"><div class="btn_delete btn btn-danger" (click)="onDelete(imgAF.name)">Supprimer</div></div>
    </div>

  </div>
</section>

<app-modal-upload #upload_image>
  <div class="app-modal-header">
    <h3>Ajouter des images</h3>
  </div>
  <div class="app-modal-body">
    <span class="btn btn-default btn-file">
      <input class="file" type="file" name="image_uploader" id="image_uploader" accept="image/*" multiple/>
    </span>
  </div>
  <div class="app-modal-footer">
    <button class="btn btn-default" (click)="upload_image.hide()">Annuler</button>
    <button class="btn btn-primary" (click)="onUpload();
                                           upload_image.hide()">Envoyer</button>
  </div>
</app-modal-upload>

