<div class="page-header">
  <h3 id="page_title">Images</h3>
</div>

<section class="images">
  <div *ngFor="let imgAF of images | async" class="image_main">

    <div class="image_container panel panel-default">
      <div class="panel-body background_cover" [style.background-image]="sanitizeUrlImage(imgAF.URL)"><div class="fake_elem"></div></div>
      <div class="panel-footer"><div class="btn_delete btn btn-danger" (click)="onDelete(imgAF.name)">Supprimer</div></div>
    </div>

  </div>
</section>
