<!--
  Generated template for the Friends page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="seevotes-content" padding>

  <ion-row class="top-row">
    <ion-col>
      <button ion-button class="home-btn" (click)="moveToHome()">Précédent</button>
    </ion-col>
    <ion-col></ion-col><ion-col></ion-col>
  </ion-row>

  <ion-row >
      <ion-col>
        <div class="title">
          <h1>Mes sondages</h1>
        </div>
      </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
        <h3>Votes créés</h3>
    </ion-col>
  </ion-row>

  <ion-list *ngFor="let vote of voteListCreated" id="votelist">
     <ion-item>
       <ion-icon name="vote"></ion-icon>{{vote.title}} Date : {{vote.expiration_date}}
     </ion-item>
   </ion-list>


  <ion-row>
    <ion-col>
        <h3>Votes ou je suis invité</h3>
    </ion-col>
  </ion-row>





  <ion-list *ngFor="let vote of voteListInvited" id="votelist">
     <ion-item>
       <ion-icon name="vote"></ion-icon>{{vote.title}} Date : {{vote.expiration_date}}
     </ion-item>
   </ion-list>






</ion-content>
